@tailwind base;
@tailwind components;
@tailwind utilities;

Page {
    background-color: #f3f4f6;
}

ActionBar {
    background-color: #3b82f6;
    color: white;
}

.btn {
    font-size: 16;
    padding: 12;
    border-radius: 8;
}

.input {
    font-size: 16;
    padding: 12;
    border-width: 1;
    border-color: #e5e7eb;
    border-radius: 8;
    margin-bottom: 12;
}

.list-group {
    separator-color: transparent;
}